.main {
	color: white;
	background-color: #050505;
	border: thick solid #101020;
	border-radius: 15px;
	list-style-position: inside;
	list-style-type: square;
	height: 650px;
	width: auto;
	padding: 10px;
}
.logo {
	background-color: #E0E0E0;
	border: 2px solid #AAF;
	border-radius: 5px;
	height: auto;
	width: auto;
	position: fixed;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	margin: 80px;
	float: right;
	padding: 5px;
}

body {
	background-color: #050505;
}

h4 {
	color: #00FF00;
}
